<!DOCTYPE html>
<!--
____▄,___________________________________________________________________,╓ε____
_____"▀█_______________________________________________________________╓█▀______
________╙██╥________________________________________________________▄██_________
___________╙▀█▄_________________________________________________,██▀____________
_____________└▀█µ______________________________________________██▀______________
________________╙██_________________________________________╓██_________________
__________________▀█▄_____________________________________,██╙__________________
____________________▀██_________________________________╓██╛____________________
______________________╙█▄_____________________________╓█▀_______________________
________________________╙█▌__________________________██_________________________
__________________________║█µ______________________▄█___________________________
___________________________╙█▄____________________██____________________________
_____________________________║█_________________▄█▀_____________________________
______________________________╙█▌______________██_______________________________
________________________________██µ__________▄█▌________________________________
__________________________________▀▄_______,█▀__________________________________
___________________________________╫█▄____██µ___________________________________
___________________________________╓████████µ___________________________________
____________▀▀╥█_________________╓█µ║███████_█▄________________╓▄#▀`____________
______________▀▀██______________║██▌▐██████▌"███_____________╓██▀^______________
__________________▀█▄╥____________,▄█████████▄___________╓╥█▀`__________________
___________________║██___________▐████████████▌__________███____________________
___________________██▌____________▄▄▄▄▄▄▄▄▄▄▄▄____________██b___________________
___________________██__________▄████████████████▓_________║█____________________
___________________║█_________████████████████████________▐█____________________
____________________████████Γ║████████████████████▌]███████▀____________________
______________________╙▀▀███_║████████████████████▌┌███▀▀_______________________
_____________________________╙████████████████████______________________________
______________________________╙██████████████████`______________________________
______________________________,╓▄▄▄▄▄╠╙▀▀▀╙,▄▄▄▄╥,______________________________
___________________________╓███████████▌j████████████___________________________
____________________█████_█████████████▌j█████████████_█████____________________
__________________▄█╙╙╙`_▐█████████████▌j██████████████_╙╙╙╙▀█__________________
________________┌█▀______██████████████▌j██████████████▌_____╙█╕________________
_______________╔█▌______███████████████▌j███████████████______╙█▌_______________
______________╓█▌______┌███████████████▌j███████████████▌______║█▄______________
______________██_______████████████████▌j████████████████_______██______________
__________,╓▄██▀_______████████████████▌j████████████████▌______╙███╥,__________
____╓╓▄▄R█▀___________▐████████████████▌j█████████████████___________╙█▀▄▄╥╓____
_╗▄Θ╙▀____________╓▄█_█████████████████▌j█████████████████_██▄____________▀╙*╗▄_
________________█████_█████████████████▌j█████████████████b║████m_______________
_______________ █▀___ █████████████████▌j█████████████████▌___╙█▌_______________
________________█▄___ █████████████████▌j█████████████████▌____█`_______________
________________╙█▄__j█████████████████▌j█████████████████▌__,██________________
_________________╙██_ █████████████████▌j█████████████████▌_▄██_________________
__________________└██ █████████████████▌j█████████████████▌▐█▀__________________
____________________█_█████████████████▌j█████████████████_║____________________
____________________█⌐║████████████████▌j█████████████████_█____________________
__________________▄█___████████████████▌j████████████████▌__╙█__________________
_______________,██▀____╙███████████████▌j████████████████_____██µ_______________
____________▄▓█▀________╙██████████████▌j███████████████________"██▄____________
__________╓▄█▀┘__________╙█████████████▌j██████████████___________▀▀▓╥__________
___________╙_______________▀███████████▌j████████████╜_______________▀__________
_____________________________▀█████████▌j██████████╙____________________________
________________________________▀▀█████▌j██████▀╙_______________________________
________________________________________________________________________________
___                                                                          ___
___                                HI, THERE!                                ___
________________________________________________________________________________
________________________________________________________________________________
-->
<html>
  <head>
    <title><%= content_for(:title) || "Hello Bugs" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-200">
    <%= yield %>
  </body>
</html>
